@mixin theme($light-theme:true) {
    @if $light-theme {
        background-color: darken($primary-color, 90%);
    }
}

@mixin parent-theme($light-theme:true) {
    @if $light-theme {
        box-shadow: 0px 20px 80px -8px darken($text-color-md, 90%);
    }
}

@mixin child-theme($light-theme:true) {
    @if $light-theme {
        background:darken($primary-color, 90%);
    }
}